/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #black;
  font-family: Roboto;
}

h1 {
  text-align: center;
  font-weight: bold;
}

/*.row {
  text-align: center;
  max-width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  font-size: 18px;
  position:relative;
}*/

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.subtitle {
  margin-left: 20%;
  margin-right: 20%;
}

.subtitle p {
  text-align: center;
  font-size: 14px;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

.center img {
  height:auto;
  width: 90%;
  max-width: 175px;
}

.center td {
  padding-bottom: 10px;
}

.gallery {
  margin-bottom: 20px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width:auto;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  display:inline;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
