/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #black;
  font-family: Roboto;
}

h1 {
  text-align: center;
  font-weight: bold;
}

footer {
  position:absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

table.center {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

.center img {
  height:auto;
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.center h2 {
  font-size: 20px;
}

.center p {
  font-size: 14px;
}

.center td {
  width: 50%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width:auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
